{% extends "base.html" %}


{% block title %}
	Welcome
{% endblock %}


{% block content %}
    <div id="banner">
      <div class="bannerText">
        <h1 class="slogan" tabindex="0">
            Buy and sell aviation gear
          </h1>
        <a href="#catList">
          <div class="arrow">
            &gt;
          </div>
        </a>
      </div>
    </div>
    <div class="container">
      <ul id="catList" class="categoryList">
        <li class="categoryItem shadow">
          <a href="category.html"><img src="/static/images/rodrigo-rodriguez-102662-unsplash.jpg" alt="Airplane by Rodrigo Rodriguez on Unsplash"></a>
          <h2 class="categoryTitle"><a href="category.html">Airplane</a></h2>
          <h3 class="categorySub">Latest post</h3>
          <h4 class="latestItem"><a href="item.html">Giroscope for free</a></h4>
        </li>
        <li class="categoryItem shadow">
          <a href="category.html"><img src="/static/images/neil-thomas-738058-unsplash.jpg" alt="Helicopter by Neil Thomas on Unsplash"></a>
          <h2 class="categoryTitle"><a href="category.html">Helicopter</a></h2>
          <h3 class="categorySub">Latest post</h3>
          <h4 class="latestItem"><a href="item.html">Giroscope for free</a></h4>
        </li>
        <li class="categoryItem shadow">
          <a href="category.html"><img src="/static/images/konrad-wojciechowski-110181-unsplash.jpg" alt="Glider by Konrad Wojciechowski on Unsplash"></a>
          <h2 class="categoryTitle"><a href="category.html">Glider</a></h2>
          <h3 class="categorySub">Latest post</h3>
          <h4 class="latestItem"><a href="item.html">Giroscope for free</a></h4>
        </li>
        <li class="categoryItem shadow">
          <a href="category.html"><img src="/static/images/ellehem-693-unsplash.jpg" alt="Air Balloon by Ellehem on Unsplash"></a>
          <h2 class="categoryTitle"><a href="category.html">Lighter than air</a></h2>
          <h3 class="categorySub">Latest post</h3>
          <h4 class="latestItem"><a href="item.html">Giroscope for free</a></h4>
        </li>
        <li class="categoryItem shadow">
          <a href="category.html"><img src="/static/images/pablo-heimplatz-275434-unsplash.jpg" alt="Paraglider by Pablo Heimplatz on Unsplash"></a>
          <h2 class="categoryTitle"><a href="category.html">Paraglider</a></h2>
          <h3 class="categorySub">Latest post</h3>
          <h4 class="latestItem"><a href="item.html">Giroscope for free</a></h4>
        </li>
        <li class="categoryItem shadow">
          <a href="category.html"><img src="/static/images/oxana-v-524239-unsplash.jpg" alt="by Oxana V on Unsplash"></a>
          <h2 class="categoryTitle"><a href="category.html">Other</a></h2>
          <h3 class="categorySub">Latest post</h3>
          <h4 class="latestItem"><a href="item.html">Giroscope for free</a></h4>
        </li>
      </ul>
    </div>
{% endblock %}