{% extends "base.html" %}

{% block title %}
    {{category_name}}
{% endblock %}

{% block content %}
<div class="container">

    <nav>
        <ul>
            <li>
                <a href="{{ url_for('mainIndex') }}">
                    Home
                </a>
            </li>
            <li>
                {{category_name}}
                ({{total_items}}
                    {% if total_items == 1%}
                    item)
                    {% else %}
                    items)
                    {% endif %}
            </li>
        </ul>
    </nav>

    <ul class="itemsList">

        {% for item, email in items %}
        <li class="item">
            <a href="{{ url_for('readItem', category_slug = category_slug, item_id = item.id, item_name = item.title) }}">

                {% if item.picture %}
                    <img src="{{ url_for('uploaded_file', filename = item.picture) }}"
                         alt="{{ item.title }}">
                    </a>
                
                {% else %}
                    <img src="{{ url_for('static', filename='images/not-available.svg') }}"
                         alt="Picture is not available">
                    </a>
                {% endif %}
            <div class="itemInfo">
                <h2>
                    <a href="{{ url_for('readItem', category_slug = category_slug, item_id = item.id, item_name = item.title) }}">
                        {{ item.title }}
                    </a>
                </h2>
                <div class="location">
                    Location: {{ item.location }}
                </div>
                <div class="price">
                    {{ item.price }}
                </div>
            </div>
            
            {% if 'username' in session %}
                <div class="buttons">
                    {% if session['user_id'] == item.user_id %}
                            <div class="button edit">
                                <a href="edit">
                                    Edit
                                </a>
                            </div>
                            <div class="button delete">
                                <a href="delete">
                                    Delete
                                </a>
                            </div>
                    {% else %}
                        <div class="button buy">
                            <a href="mailto:{{ email }}">
                                Contact
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="buttons">
                    <div class="button buy">
                        <a href="{{ url_for('login') }}" onclick="alert('Please login to contact the owner');">
                            Contact
                        </a>
                    </div>
                </div>
            {% endif %}

        </li>
        {% endfor %}

    </ul>

    <div class="pagination">

        {% if current_page > 1 %}
            <a href="{{ url_for('getCategoryPage', category_slug = category_slug, page = current_page-1) }}">
              &lt;
            </a>
        {% endif %}
        
        {% if pages > 1 %}
            {% for i in range(1, (pages+1)) %}
                {% if current_page == i %}
                    {{i}}
                {% else %}
                    <a href="{{ url_for('getCategoryPage', category_slug = category_slug, page = i) }}">
                      {{i}}
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if current_page < pages %}
            <a href="{{ url_for('getCategoryPage', category_slug = category_slug, page = current_page+1) }}">
                &gt;
            </a>
        {% endif %}

    </div>
</div>
{% endblock %}