{% extends "base.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}

<!-- if user is not logged -->
{% if 'username' not in session %}
    <!-- if user have message, show message -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="container">
                <div class="flash">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <!-- if don't have message, show banner -->
    {% if not get_flashed_messages() %}
        <div id="banner">
            <div class="bannerText">
                <h1 class="slogan" tabindex="0">
                    Buy and sell aviation gear
                </h1>
                <a href="#catList">
                    <div class="arrow">
                        &gt;
                    </div>
                </a>
            </div>
        </div>
    {% endif %}
{% endif %}


<div class="container">
<!-- if user is logged show standart message -->
{% if 'username' in session %}
    {% if not get_flashed_messages() %}
        {% if 'username' in session %}
            <div class="logged">
                Welcome {{session.username}}!
            </div>
        {% endif %}
    {% endif %}
<!-- if user is logged and have message show it instead -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="flash">
                {{ message }} Welcome {{session.username}}!
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
{% endif %}

    <ul id="catList" class="categoryList">
        {% for category, item in categories %}
        <li class="categoryItem shadow">
            <a href="{{ url_for('getCategoryPage', category_slug = category.slug) }}">
                <img src="{{ url_for('static', filename='images/' + category.picture) }}"
                     alt="{{ category.description }}">
            </a>
            <h2 class="categoryTitle">
                <a href="{{ url_for('getCategoryPage', category_slug = category.slug) }}">
                    {{ category.name }}
                </a>
            </h2>
            <h3 class="categorySub">
                Latest post
            </h3>
            <h4 class="latestItem">
                <a href="{{ url_for('readItem', category_slug = category.slug, item_name = item.title, item_id=item.id) }}">
                {{item.title}}
                </a>
            </h4>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}