{% extends "base.html" %}

{% block title %}
    {{item.title}}
{% endblock %}

{% block content %}
<div class="container">
    <nav>
        <ul>
            <li>
                <a href="javascript:history.back()">
                    Back
                </a>
            </li>
        </ul>
    </nav>

    <div class="itemMainInfo">
        {% if item.picture %}
            <img src="{{ url_for('uploaded_file', filename = item.picture) }}" alt="{{ item.title }}">
        {% else %}
            <img src="{{ url_for('static', filename='images/not-available.svg') }}" alt="Picture is not available">
        {% endif %}

        <div class="itemData">
            <h1 class="itemTitle">
                {{item.title}}
            </h1>
            <h3 class="location">
                Location: {{item.location}}
            </h3>
            <h4 class="price">
                {{item.price}}
            </h3>

            {% if 'username' in session %}
                <div class="buttons">

                    {% if session['user_id'] == item.user_id %}
                            <div class="button edit">
                                <a href="edit">
                                    Edit
                                </a>
                            </div>
                            <div class="button delete">
                                <a href="{{ url_for('deleteItem', item_id=item.id) }}">
                                    Delete
                                </a>
                            </div>
                    {% else %}
                        <div class="button buy">
                            <a href="mailto:{{ user.email }}">
                                Contact
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="buttons">
                    <div class="button buy">
                        <a href="{{ url_for('login') }}" onclick="alert('Please login to contact the owner');">
                            Contact
                        </a>
                    </div>
                </div>
            {% endif %}

          </div>
        </div>

        <div class="itemDescription">
            <h2>
                Description
            </h2>
        <div class="descriptionText">
            {{item.description}}
        </div>
    </div>

</div>
{% endblock %}