{% extends "base.html" %}

{% block head %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="loginContainer">
    <div class="loginButtons">
        <!-- GOOGLE PLUS SIGN IN BUTTON-->
        <button class="loginBtn loginBtn--google" id="glogin">
            Login with Google
        </button>

        <script>
            function onLoadGoogleCallback() {
                  gapi.load('auth2', function() {
                    auth2 = gapi.auth2.init({
                      client_id: '377582607143-tltap54jq5a2ice5pp1m2pk8gcr8b3q6.apps.googleusercontent.com',

                      // Scopes to request in addition to 'profile' and 'email'
                      //scope: 'additional_scope'
                    });
                  });
            }

              $('#glogin').click(function() {
                // signInCallback defined in step 6.
                auth2.grantOfflineAccess().then(signInCallback);
              });


            function signInCallback(authResult) {
                if (authResult['code']) {
                    // Hide the sign-in button now that the user is authorized
                    $('#glogin').attr('style', 'display: none');
                    $('#fb-root').attr('style', 'display: none');
                    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
                    $.ajax({
                        type: 'POST',
                        url: '/gconnect?state={{state}}',
                        processData: false,
                        data: authResult['code'],
                        contentType: 'application/octet-stream; charset=utf-8',
                        success: function(result) {
                            // Handle or verify the server response if necessary.
                            if (result) {
                                $('#result').html(result)
                                setTimeout(function() {
                                    window.location.href = "/";
                                }, 4000);

                            } else if (authResult['error']) {
                                console.log('There was an error: ' + authResult['error']);
                            } else {
                                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                            }
                        }

                    });
                }
            }
        </script>
        
        <!--END GOOGLE PLUS SIGN IN BUTTON -->
        <!--FACEBOOK SIGN IN -->
        <button class="loginBtn loginBtn--facebook" id="fb-root">
            Login with Facebook
        </button>
        <script>
          window.fbAsyncInit = function() {
              FB.init({
                appId      : '458799667938006',
                cookie     : true,  // enable cookies to allow the server to access 
                                    // the session
                xfbml      : true,  // parse social plugins on this page
                version    : 'v3.1' // use version 2.2
              });
          };


            document.getElementById('fb-root').addEventListener('click', function() {
                //do the login
                FB.login(sendTokenToServer, {scope: 'email,public_profile', return_scopes: true});
            }, false);


          // Load the SDK asynchronously
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
          
          // Here we run a very simple test of the Graph API after login is
          // successful.  See statusChangeCallback() for when this call is made.
          function sendTokenToServer() {
            var access_token = FB.getAuthResponse()['accessToken'];
            FB.api('/me', function(response) {
             $.ajax({
              type: 'POST',
              url: '/fbconnect?state={{state}}',
              processData: false,
              data: access_token,
              contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                // Handle or verify the server response if necessary.
                if (result) {
                  $('#glogin').attr('style', 'display: none');
                  $('#fb-root').attr('style', 'display: none');
                  $('#result').html(result)
                 setTimeout(function() {
                  window.location.href = "/";
                 }, 4000);
                  
              } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                 }
              }
              
          });
            });
          }
        </script>


        <div id="result"></div>
    </div>
</div>
{% endblock %}

{% block lastElement %}

<script src="https://apis.google.com/js/platform.js?onload=onLoadGoogleCallback" async defer></script>
{% endblock %}